<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page #1</title>

    <style>
        {#asset dw-status-report-styles.css @encoding=utf8}
    </style>
  </head>

  <body>
    <section id="report-page-0" class="reporting-page">
      <div class="reporting-page-content">
        <header class="reporting-cover-page-header">
          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>

        <main>
          <article class="reporting-cover-page-title">
            <div class="reporting-cover-page-info">
              <div class="reporting-cover-page-title-info">
                <h1 class="reporting-cover-page-title-name">
                  Dark Web <br />Status Report
                </h1>
              </div>

              <div class="reporting-cover-page-client-info">
                <span class="reporting-cover-page-client-name"
                  >Client Name</span
                >
                <span class="reporting-cover-page-client-date"
                  >Month/Day/Year</span
                >
              </div>
            </div>

            <div class="reporting-cover-page-title-image">
              <img src="{#asset ./assets/img-group-686.svg @encoding=dataURI}" alt="Dark Web Report Cover" />
            </div>
          </article>

          <div class="reporting-cover-page-card">
            <p class="reporting-cover-pager-card-title">
              - What is the Dark Web?
            </p>
            <br />
            <p class="reporting-cover-pager-card-text">
              The Dark Web is like the black market for cybercrime. When
              cybercriminals successfully breach or steal information, here is
              where they put it up for sale for other criminals to purchase as
              they wish. Often times, we are unaware if our information is being
              harvested and resold. As they continue to be profitable, breaches
              and phishing scams will continue to occur, and employee data could
              be up for grabs leaving whole organizations vulnerable.
            </p>
          </div>

          <div class="reporting-cover-page-card">
            <p class="reporting-cover-pager-card-title">
              - Purpose of this Report
            </p>

            <p class="reporting-cover-pager-card-text">
              All data, new and old, found on the Dark Web can be used
              maliciously by cybercriminals. Exposed passwords can provide keys
              to various sites and services if still in use. Email addresses
              found can be used for direct phishing campaigns and personal data
              can be used to build advanced social engineering attacks. We
              cannot change the past, but we can learn from it, and help change
              the future.
            </p>
          </div>
        </main>

        <footer class="reporting-footer">
          <span>Client Name</span>
          <span>Date</span>
          <span>By: Partner Name</span>
        </footer>
      </div>
    </section>

    <section id="report-dw-status-page-1" class="reporting-page page-break">
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">1</span>
            </div>

            <h1 class="reporting-page-header-title">
              Global Monthly Dark Web Summary
            </h1>
          </div>

          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>

        <main>
          <header class="report-page-article-header">
            <h2 class="report-page-article-title">Dark Web Overview</h2>
            <h3 class="report-page-article-subtitle">Month/Year</h3>
          </header>

          <p class="report-page-article-content">
            The Dark Web never sleeps. To highlight the severity of the Dark
            Web’s popularity, we’ve provided a summary of all the breached
            information posted to the Dark Web in the month of ____. Compare
            your organization-wide results found on page 3.
          </p>

          <div class="report-section-group-cards">
            <div class="report-section-group-cards-col">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-exposed-passwords.svg @encoding=dataURI}"
                    alt="Exposed Passwords"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Exposed Passwords</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >125</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Month/Year</span
                      >
                    </div>
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >300</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Total-to-date</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-monitor.svg @encoding=dataURI}"
                    alt="Compromised Email Credentials"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Total Data Breaches</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >125</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Month/Year</span
                      >
                    </div>
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >300</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Total-to-date</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="report-page-article_1">
            <header class="report-page-article-header">
              <h2 class="report-page-article-title">Dark Web Trends</h2>
              <h3 class="report-page-article-subtitle">Previous 6-Months</h3>
            </header>

            <p class="report-page-article-content">
              Our human operatives are constantly scouring the Dark Web for
              newly exposed data. Here’s a look at what they’ve uncovered over
              the past six months. Understanding the previous Dark Web posting
              trends can help forecast risks
            </p>
          </div>

          <img
            id="report-page-1-graphic"
            src="{#asset ./assets/img-page-1-graphic.png @encoding=dataURI}"
            alt="Chart"
          />
        </main>

        <footer class="reporting-footer">
          <span>Client Name</span>
          <span>Date</span>
          <span>By: Partner Name</span>
        </footer>
      </div>
    </section>

    <section id="report-dw-status-page-2" class="reporting-page page-break">
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">2</span>
            </div>

            <h1 class="reporting-page-header-title">
              Top industries attacked in the last 12 months
            </h1>
          </div>

          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>

        <main>
          <p class="report-page-article-content">
            Some industries have more of a target on their back than others.
            Here’s a closer look at the top attacked industries in the last 12
            months.
          </p>

          <div class="report-section-group-cards">
            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-adult-industry.svg @encoding=dataURI}"
                    alt="Exposed Passwords"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Adult Industry</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >5837</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-business.svg @encoding=dataURI}"
                    alt="Compromised Email Credentials"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Business and Economy</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >10335</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-educational.svg @encoding=dataURI}"
                    alt="Educational Institutions"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Educational Institutions</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >4758</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-forums.svg @encoding=dataURI}"
                    alt="Forums"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title">Forums</span>
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >16677</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-games.svg @encoding=dataURI}"
                    alt="Games"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title">Games</span>
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >8424</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-not-available.svg @encoding=dataURI}"
                    alt="Not Available"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Not Available</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >683807</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-personals.svg @encoding=dataURI}"
                    alt="Personals and Dating"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Personals and Dating</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >85407</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-search-engines.svg @encoding=dataURI}"
                    alt="Search Engines and Portals"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Search Engines and Portals</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >5946</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-shopping.svg @encoding=dataURI}"
                    alt="Shopping"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Shopping</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >6110</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-social-networking.svg @encoding=dataURI}"
                    alt="Social Networking"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Social Networking</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >23696</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-society.svg @encoding=dataURI}"
                    alt="Society and Lifestyle"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Society and Lifestyle</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >73772</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-streaming.svg @encoding=dataURI}"
                    alt="Streaming Media"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Streaming Media</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >4491</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <footer class="reporting-footer">
          <span>Client Name</span>
          <span>Date</span>
          <span>By: Partner Name</span>
        </footer>
      </div>
    </section>

    <section id="report-dw-status-page-3" class="reporting-page page-break">
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">3</span>
            </div>

            <div class="reporting-page-header-titles">
              <h1 class="reporting-page-header-title">
                Your Current Dark Web Status 
              </h1>
              <h3 class="reporting-page-header-dropline">Month/Year</h3>
            </div>
          </div>

          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>

        <main>
          <article>
            <div class="report-section-group-cards">
              <div class="report-section-group-cards-row">
                <div class="report-section-group-cards-col">
                  <div class="report-card-dwm_page2">
                    <div class="report-card-left-image">
                      <img
                        class="report-card-image"
                        src="{#asset ./assets/img-exposed-passwords.svg @encoding=dataURI}"
                        alt="Exposed Passwords"
                      />
                    </div>

                    <div class="report-card-content">
                      <header class="report-card-content-header">
                        <span class="report-card-content-header-title"
                          >Exposed Passwords</span
                        >
                        <span class="report-card-content-header-domain"
                          >www.domain1.com</span
                        >
                      </header>

                      <div class="report-card-content-info">
                        <div class="report-card-content-info-unit">
                          <span class="report-card-content-info-unit_value"
                            >300</span
                          >
                          <span class="report-card-content-info-unit_label"
                            >Total-to-date</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="report-card-dwm_page2">
                    <div class="report-card-left-image">
                      <img
                        class="report-card-image"
                        src="{#asset ./assets/img-total-data-breaches.svg @encoding=dataURI}"
                        alt="Total Data Breaches"
                      />
                    </div>

                    <div class="report-card-content">
                      <header class="report-card-content-header">
                        <span class="report-card-content-header-title"
                          >Total Data Breaches</span
                        >
                        <span class="report-card-content-header-domain"
                          >www.domain1.com</span
                        >
                      </header>

                      <div class="report-card-content-info">
                        <div class="report-card-content-info-unit">
                          <span class="report-card-content-info-unit_value"
                            >300</span
                          >
                          <span class="report-card-content-info-unit_label"
                            >Total-to-date</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="report-card-dwm_page2">
                    <div class="report-card-left-image">
                      <img
                        class="report-card-image"
                        src="{#asset ./assets/img-overall-risk.svg @encoding=dataURI}"
                        alt="Overall Risk"
                      />
                    </div>

                    <div class="report-card-content">
                      <header class="report-card-content-header">
                        <span class="report-card-content-header-title"
                          >Overall Risk</span
                        >
                        <span class="report-card-content-header-domain"
                          >www.domain1.com</span
                        >
                      </header>

                      <div class="report-card-content-info">
                        <div class="report-card-content-info-unit">
                          <span
                            class="report-card-content-info-unit_value font-color-alert"
                            >HIGH</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="reporting-section-article-text">
                  <p class="report-page-article-content">
                    Dark Web exposure equals risk, plain and simple. An
                    employee’s exposed personal information can be used to craft
                    highly convincing social engineering attacks, like phishing
                    scams, phone scams, and more. By including just enough
                    accurate information, the scammer can often convince their
                    victim that they are the trust-worthy source they claim to
                    be.
                  </p>
                  <p class="report-page-article-content">
                    Exposed passwords and account information could lead to
                    compromised business accounts, unauthorized accessto data
                    and major breaches if these credentials are reused.
                  </p>
                  <p class="report-page-article-content">
                    With this detailed analysis of recent employee exposures,
                    the time is now to inform the affected employees, change the
                    appropriate passwords and provide proper education to avoid
                    future issues.
                  </p>
                </div>
              </div>
            </div>
          </article>

          <article class="reporting-section-article-centralized">
            <h2 class="reporting-section-article-centralized-title">
              Dark Web Exposure Details
            </h2>

          <img
            id="report-page-1-graphic"
            src="{#asset ./assets/img-page-1-graphic.png @encoding=dataURI}"
            alt="Chart"
          />
          </article>
        </main>

        <footer class="reporting-footer">
          <span>Client Name</span>
          <span>Date</span>
          <span>By: Partner Name</span>
        </footer>
      </div>
    </section>

    <section id="report-dw-status-page-4" class="reporting-page page-break">
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">4</span>
            </div>

            <div class="reporting-page-header-titles">
              <h1 class="reporting-page-header-title">
                Top 10 Dark Web Breach Details
              </h1>
              <h3 class="reporting-page-header-dropline">Month/Year</h3>
            </div>
          </div>
          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>


        <main>
          <article class="report-page-article">
            <p class="report-page-article-content">
                We’ve compiled a list of the most recent compromised accounts affecting your domains. 
                All exposed data is important, but the most recent breaches should be addressed immediately. 
                For a full list of breaches and more details, visit <strong> abc@123.com</strong> for more information.
              
            </p>
          </article>

          <div class="table-card">
            <header class="table-card-header">
                <div class="table-card-header-content">
                    <div class="table-card-header-content-index-card">
                        <span class="table-card-header-content-index-value">1</span>
                    </div>
                    <span class="table-card-header-content-title">michael.scofield@domain1.com</span>
                </div>
                <span class="score">Score</span>
            </header>
            
            <main>
                <table class="table-card-table">
                    <thead>
                        <tr class="table-card-table-head-row">
                            <th class="table-card-table-head-title" scope="col">Date</th>
                            <th class="table-card-table-head-title" scope="col">Account Breached</th>
                            <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                        </tr>
                    </thead>
                    <tbody class="table-card-table-body">
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        
                    </tbody>
                </table>

            </main>           
        </div>

        <div class="table-card">
            <header class="table-card-header">
                <div class="table-card-header-content">
                    <div class="table-card-header-content-index-card">
                        <span class="table-card-header-content-index-value">2</span>
                    </div>
                    <span class="table-card-header-content-title">thomas.terrence@domain1.com</span>
                </div>
                <span class="score">Score</span>
            </header>
            <main>
                <table class="table-card-table">
                    <thead>
                        <tr class="table-card-table-head-row">
                            <th class="table-card-table-head-title" scope="col">Date</th>
                            <th class="table-card-table-head-title" scope="col">Account Breached</th>
                            <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                        </tr>
                    </thead>
                    <tbody class="table-card-table-body">
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>                        
                    </tbody>
                </table>
            </main>     
        </div>

        <div class="table-card">
            <header class="table-card-header">
                <div class="table-card-header-content">
                    <div class="table-card-header-content-index-card">
                        <span class="table-card-header-content-index-value">3</span>
                    </div>
                    <span class="table-card-header-content-title">christopher.lorriz@domain1.com</span>
                </div>
                <span class="score">Score</span>
            </header>
            
            <main>
                <table class="table-card-table">
                    <thead>
                        <tr class="table-card-table-head-row">
                            <th class="table-card-table-head-title" scope="col">Date</th>
                            <th class="table-card-table-head-title" scope="col">Account Breached</th>
                            <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                        </tr>
                    </thead>
                    <tbody class="table-card-table-body">
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        
                    </tbody>
                </table>
            </main>           
        </div>

        <div class="table-card">
            <header class="table-card-header">
                <div class="table-card-header-content">
                    <div class="table-card-header-content-index-card">
                        <span class="table-card-header-content-index-value">4</span>
                    </div>
                    <span class="table-card-header-content-title">victor.moreira@domain1.com</span>
                </div>
                <span class="score">Score</span>
            </header>
            
            <main>
                <table class="table-card-table">
                    <thead>
                        <tr class="table-card-table-head-row">
                            <th class="table-card-table-head-title" scope="col">Date</th>
                            <th class="table-card-table-head-title" scope="col">Account Breached</th>
                            <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                        </tr>
                    </thead>
                    <tbody class="table-card-table-body">
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        <tr class="table-card-table-body-row">
                            <td class="table-card-table-body-cell">2020-08-05</td>
                            <td class="table-card-table-body-cell">asheleymadison.com</td>
                            <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                        </tr>
                        
                    </tbody>
                </table>
            </main>           
        </div>
        </main>

        <footer class="reporting-footer-continue-next-page">
          <span>Continue on the next page</span>
        </footer>
      </div>
    </section>

    <section id="report-dw-status-page-5" class="reporting-page page-break">
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">5</span>
            </div>

            <div class="reporting-page-header-titles">
              <h1 class="reporting-page-header-title">
                Top 10 Dark Web Breach Details
              </h1>
              <h3 class="reporting-page-header-dropline">Month/Year</h3>
            </div>
          </div>
          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>


        <main>
            <div class="table-card">
                <header class="table-card-header">
                    <div class="table-card-header-content">
                        <div class="table-card-header-content-index-card">
                            <span class="table-card-header-content-index-value">5</span>
                        </div>
                         <span class="table-card-header-content-title">anna.steadman@domain1.com</span>
                    </div>
                    <span class="score">Score</span>
                </header>
                
                <main>
                    <table class="table-card-table">
                        <thead>
                            <tr class="table-card-table-head-row">
                                <th class="table-card-table-head-title" scope="col">Date</th>
                                <th class="table-card-table-head-title" scope="col">Account Breached</th>
                                <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                            </tr>
                        </thead>
                        <tbody class="table-card-table-body">
                            <tr class="table-card-table-body-row">
                                <td class="table-card-table-body-cell">2020-08-05</td>
                                <td class="table-card-table-body-cell">asheleymadison.com</td>
                                <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                            </tr>                      
                        </tbody>
                    </table>
                </main>           
            </div>
    
            <div class="table-card">
                <header class="table-card-header">
                    <div class="table-card-header-content">
                        <div class="table-card-header-content-index-card">
                            <span class="table-card-header-content-index-value">6</span>
                        </div>
                        <span class="table-card-header-content-title">cristina.cameron@domain1.com</span>

                    </div>
                    <span class="score">Score</span>
                </header>
                
                <main>
                    <table class="table-card-table">
                        <thead>
                            <tr class="table-card-table-head-row">
                                <th class="table-card-table-head-title" scope="col">Date</th>
                                <th class="table-card-table-head-title" scope="col">Account Breached</th>
                                <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                            </tr>
                        </thead>
                        <tbody class="table-card-table-body">
                            <tr class="table-card-table-body-row">
                                <td class="table-card-table-body-cell">2020-08-05</td>
                                <td class="table-card-table-body-cell">asheleymadison.com</td>
                                <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                            </tr>                      
                        </tbody>
                    </table>
                </main>           
            </div>
            
            <div class="table-card">
                <header class="table-card-header">
                    <div class="table-card-header-content">
                        <div class="table-card-header-content-index-card">
                            <span class="table-card-header-content-index-value">7</span>
                        </div>
                        <span class="table-card-header-content-title">natan.cliff@domain1.com</span>
                    </div>
                    <span class="score">Score</span>
                </header>
                
                <main>
                    <table class="table-card-table">
                        <thead>
                            <tr class="table-card-table-head-row">
                                <th class="table-card-table-head-title" scope="col">Date</th>
                                <th class="table-card-table-head-title" scope="col">Account Breached</th>
                                <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                            </tr>
                        </thead>
                        <tbody class="table-card-table-body">
                            <tr class="table-card-table-body-row">
                                <td class="table-card-table-body-cell">2020-08-05</td>
                                <td class="table-card-table-body-cell">asheleymadison.com</td>
                                <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                            </tr>                      
                        </tbody>
                    </table>
                </main>           
            </div>
            
            <div class="table-card">
                <header class="table-card-header">
                    <div class="table-card-header-content">
                        <div class="table-card-header-content-index-card">
                            <span class="table-card-header-content-index-value">8</span>
                        </div>
                        <span class="table-card-header-content-title">alana.eastwood@domain1.com</span>
                    </div>
                    <span class="score">Score</span>
                </header>
                
                <main>
                    <table class="table-card-table">
                        <thead>
                            <tr class="table-card-table-head-row">
                                <th class="table-card-table-head-title" scope="col">Date</th>
                                <th class="table-card-table-head-title" scope="col">Account Breached</th>
                                <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                            </tr>
                        </thead>
                        <tbody class="table-card-table-body">
                            <tr class="table-card-table-body-row">
                                <td class="table-card-table-body-cell">2020-08-05</td>
                                <td class="table-card-table-body-cell">asheleymadison.com</td>
                                <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                            </tr>                      
                        </tbody>
                    </table>
                </main>           
            </div>
            
            <div class="table-card">
                <header class="table-card-header">
                    <div class="table-card-header-content">
                        <div class="table-card-header-content-index-card">
                            <span class="table-card-header-content-index-value">9</span>
                        </div>
                        <span class="table-card-header-content-title">daniel.page@domain1.com</span>
                    </div>
                    <span class="score">Score</span>
                </header>
                
                <main>
                    <table class="table-card-table">
                        <thead>
                            <tr class="table-card-table-head-row">
                                <th class="table-card-table-head-title" scope="col">Date</th>
                                <th class="table-card-table-head-title" scope="col">Account Breached</th>
                                <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                            </tr>
                        </thead>
                        <tbody class="table-card-table-body">
                            <tr class="table-card-table-body-row">
                                <td class="table-card-table-body-cell">2020-08-05</td>
                                <td class="table-card-table-body-cell">asheleymadison.com</td>
                                <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                            </tr>                      
                        </tbody>
                    </table>
                </main>           
            </div>
            
            <div class="table-card">
                <header class="table-card-header">
                    <div class="table-card-header-content">
                        <div class="table-card-header-content-index-card">
                            <span class="table-card-header-content-index-value">10</span>
                        </div>
                        <span class="table-card-header-content-title">john.song@domain1.com</span>
                    </div>
                    <span class="score">Score</span>
                </header>
                
                <main>
                    <table class="table-card-table">
                        <thead>
                            <tr class="table-card-table-head-row">
                                <th class="table-card-table-head-title" scope="col">Date</th>
                                <th class="table-card-table-head-title" scope="col">Account Breached</th>
                                <th class="table-card-table-head-title" scope="col">Data Exposed</th>
                            </tr>
                        </thead>
                        <tbody class="table-card-table-body">
                            <tr class="table-card-table-body-row">
                                <td class="table-card-table-body-cell">2020-08-05</td>
                                <td class="table-card-table-body-cell">asheleymadison.com</td>
                                <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                            </tr>   
                            <tr class="table-card-table-body-row">
                                <td class="table-card-table-body-cell">2020-08-05</td>
                                <td class="table-card-table-body-cell">asheleymadison.com</td>
                                <td class="table-card-table-body-cell">Email addresses, passwords & physical</td>
                            </tr>                      
                        </tbody>
                    </table>
                </main>           
            </div>
        </main>

        <footer class="reporting-footer">
            <span>Client Name</span>
            <span>Date</span>
            <span>By: Partner Name</span>
        </footer>
      </div>
    </section>

    <section id="report-dw-monthly-page-7" class="reporting-page page-break">  
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">7</span>
            </div>
  
            <h1 class="reporting-page-header-title">
              What Happens Now?
            </h1>
          </div>
  
          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>

        <main>
          <article class="report-page-article">
            <p class="report-page-article-content">
              Someone at your organization had data exposed on the dark web…
              what happens now? Unfortunately, the impact of a third-party 
              data breach involving your or one of your employee’s business 
              accounts could be a vulnerability to your business. 
              earn what you can do to proactively address these hidden threats
            </p>
          </article>
          

          <div class="reporting-cover-page-card">
            <div class="reporting-cover-card-icon">
              <span class="reporting-cover-card-icon-value">?</span>
            </div>

            <p class="reporting-cover-pager-card-title">
              - How can I protect my employees and my business.
            </p>
            <br />
            <p class="reporting-cover-pager-card-text">
              We know this information can be alarming and quite frankly, 
              scary, but it doesn’t have to be! We share this information
              with you to keep you informed so you can proactively prevent 
              this compromised information from coming back to harm your 
              organization in the future. We strongly recommend that all 
              impacted employees take the following steps towards remediation.
              
            </p>

            <div class="card-step-container">
              <div class="card-step-index-card">
                  <span class="card-step-index-card-value">
                      1
                  </span>
              </div>
              <img 
                  class="card-step-img"
                  src="{#asset ./assets/browser.svg @encoding=dataURI}" 
                  alt=""
              />
              <p class="card-step-text">
                  Update your password on the compromised account
              </p>
            </div>

            <div class="card-step-container">
                <div class="card-step-index-card">
                    <span class="card-step-index-card-value">
                        2
                    </span>
                </div>
                <img 
                    class="card-step-img"
                    src="{#asset ./assets/graphic-design.svg @encoding=dataURI}" 
                    alt=""
                />
                <p class="card-step-text">
                    Be wary of an increase in phishing emails being sent to you.
                </p>
            </div>

            <div class="card-step-container">
                <div class="card-step-index-card">
                    <span class="card-step-index-card-value">
                        3
                    </span>
                </div>
                <img 
                    class="card-step-img"
                    src="{#asset ./assets/monitor.svg @encoding=dataURI}" 
                    alt=""
                />
                <p class="card-step-text">
                    Avoid using your business email address 
                    for non-business activities and account management.
                </p>
            </div>

            <div class="card-step-container">
                <div class="card-step-index-card">
                    <span class="card-step-index-card-value">
                        4
                    </span>
                </div>
                <img 
                    class="card-step-img"
                    src="{#asset ./assets/laptop.svg @encoding=dataURI}" 
                    alt=""
                />
                <p class="card-step-text">
                    Change the password for all accounts where this password 
                    may have been reused and remember to use strong, unique 
                    passwords for all your accounts
                </p>
            </div>
          </div>

          <article class="report-page-article">
            <h2 class="report-page-article-title-simple">
              Have <b>questions</b> or want more tips on best practices?
            </h2>
            <p class="report-page-article-content">
              If you have questions on any of these results or how to proactively 
              protect your employees and your business, please feel free to contact us!
            </p>
            
          </article>
        </main>

        <footer class="reporting-footer footer-color-primary">
          <span>{{clientName}}</span>
          <span>{{getMonthName breach_month}} {{dateNow}}, {{breach_year}}</span>
          <span>{{partnerName}}</span>
        </footer>
      </div>
    </section>
  </body>
</html>
